html {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 110, 131); 
    display: grid;
    place-items: center; 
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.outer-container {
    display: grid;
    place-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgb(131, 178, 194);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    width: 80%;
    padding: 30px;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-row + .button-row {
    margin-top: 10px;
}

.fetch-button {
    flex: 1;
    margin: 5px;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: rgb(87, 172, 188);
    color: white;
    text-align: center;
}

.fetch-button:hover {
    background-color: rgba(87, 171, 188, 0.552);
}

.data-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(254, 254, 254, 0.466);
}

.post, .user, .comment {
    border-bottom: 1px solid black;
    padding: 10px;
}